node_modules/\n.pnp\n.pnp.js\ncoverage/\nbuild/\ndist/\n.next/\nout/\n.DS_Store\n.env\n.env.local\n.env.development.local\n.env.test.local\n.env.production.local\n*.pem\nlogs/\n*.log\nnpm-debug.log*\nyarn-debug.log*\nyarn-error.log*\npnpm-debug.log*\nlerna-debug.log*\n.turbo/\n.idea/\n.vscode/\n*.swp\n*.swo\n*~\nThumbs.db\n