@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 9 10% 5%;
    --foreground: 0 0% 95%;
    --card: 10 8% 12%;
    --card-foreground: 0 0% 95%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 32% 17%;
    --secondary-foreground: 0 0% 95%;
    --muted: 217 15% 35%;
    --muted-foreground: 217 8% 56%;
    --accent: 220 90% 56%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 20% 18%;
    --input: 217 20% 18%;
    --ring: 217 91% 60%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
